<div class="production-card">
    <p class="production-title">{{production.title}}</p>
    <p class="production-description">
        {{production.type}}<br>{{production.description}}<br>{{production.productionDate}}
    </p>
    <div class="production-company">

        <div class="info">
            {{production.productionCompany}}<br>
            {{production.pcompanyDetails.address.split(',')[0]}}<br>
            {{production.pcompanyDetails.address.split(',')[1]}}<br>
            {{production.pcompanyDetails.address.split(',')[2]}}<br>
        </div>
        <div class="info">
            Contact<br> {{production.pcompanyDetails.email}}<br>
        </div>
    </div>
    <img class="production-img" [src]="production.imageURL">
</div>