<div class="cookies" [hidden]="hidden">
    <div class="container">
        <p>We use cookies to enhance your browsing experience, analyze site traffic, and personalize content. By
            clicking
            "Accept All Cookies," you consent to the use of all cookies. However, you can customize your cookie settings
            by
            clicking "Cookie Settings" to manage preferences. For more information, please see our Privacy Policy and
            Cookie
            Policy.</p>
        <button (click)="hideCookie('accept')">Accept All</button><button (click)="hideCookie('reject')">Reject
            All</button>
        <button (click)="settings()">Settings</button>
    </div>

</div>