.dashboard {
    padding: 5px;
    margin-top: 5%;
    width: 100%;
}

.dashboard-element {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.dashboard-item {
    min-height: 0;
    width: 15%;
    margin: 10px;
}