.production-list {
    width: 100%;
    height: 100%;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.production-item {
    min-height: 0;
    width: 15%;
    margin: 10px;
}

@media only screen and (max-width: 1200px) {
    .production-item {
        width: 40%
    }
}

@media only screen and (max-width: 600px) {
    .production-item {
        width: 80%
    }
}